/* ==================== */
/* CORE CSS */
/* ==================== */
html {
    background: #000;
    background-image: url('/images/logo-small.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    padding: 0;
    margin: 0;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: 200;
    position: absolute;
    transform: scale(.965, .965);
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 140px solid #fff;
}
body img.background {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
img.background.texture {
    opacity: .7;
}
img.background.backdrop {
    opacity: .6;
}
.selectable {
    border: 2px solid rgba(0, 0, 0, 0);
}
.selectable:hover, .selectable.cursor {
    border-color: #fff;
    box-shadow: 0px 0px 8px #fff;
}
#header {
    position: fixed;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
    color: #aaa;
    padding: 20px 30px 20px 30px;
    width: 100%;
    height: 85px;
}
.centered {
    margin:auto;
}