/*====================*/

/* GLOBAL NAVIGATION */

/*====================*/

#globalnav {
    top: 0;
    left: 0;
    width: 330px;
    background: rgba(0, 0, 0, .6);
    height: 100%;
    z-index: 10;
    position: fixed;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
#globalnav .logo {
    margin: 30px 0px -10px 105px;
}
#globalnav ul {
    padding: 20px 20px;
    /*padding-top: 0;*/
    list-style: none;
    margin: 0;
}
#globalnav li {
    font-size: 2.5em;
    padding: 30px 20px;
}
#globalnav a,
#globalnav a:visited,
#globalnav a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}
#globalnav li.cursor a,
#globalnav li:hover a {
    color: #fff;
}
